{
  "log": {
    "level": "info"
  },
  "upstreams": {
    "gobl": {
      "base_url": "https://www.goblgobl.com/docs/",
      "transforms": {
        "thumb_100x150": ["--size", "100x150", "-m", "attention"]
      }
    }
  }
}
