{
  "log": {
    "level": "info"
  },
  "upstreams": {
    "gobl": {
      "base_url": "https://www.goblgobl.com/docs/",
      "vips_transforms": {
        "thumb_100": ["--size", "100x150"]
      }
    }
  }
}
